[submodule "simulation/Firmware"]
	path = simulation/Firmware
	url = https://github.com/DronesForBlood/Firmware.git
[submodule "software/gcs/src/loragroundcontrol"]
	path = software/gcs/src/loragroundcontrol
	url = https://gitlab.com/Crowdedlight/loragroundcontrol.git
