<launch>
    <node pkg="mavros" type="mavros_node" name="mavros" clear_params="false" respawn="true">
            <param name="fcu_url" value="/dev/ttyACM0:57600" />
            <param name="gcs_url" value="" />
            <param name="target_system_id" value="1" />
            <param name="target_component_id" value="1" />
    </node>
</launch>
